.RMDB-AppMain {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
}

.RMDB-AppMainTitle-movie {
    margin-right: 10px;
    cursor: pointer;
    color: #c4c4c4;
}

.RMDB-AppMainTitle-show {
    margin-left: 10px;
    cursor: pointer;
    color: #c4c4c4;
}

.RMDB-AppMainTitle-active {
    color: #fff;
    text-decoration: underline;
}

@media (max-width: 500px) {
    .RMDB-AppMainTitle-movie,
    .RMDB-AppMainTitle-show {
        font-size: 24px;
    }

}

@media (max-width: 400px) {
    .RMDB-AppMainTitle-movie,
    .RMDB-AppMainTitle-show {
        font-size: 14px;
    }

}