.RMDB-SearchBarWrapper{
}

.RMDB-SearchMovieInput{
  width: 100%;
  padding: 34px;
  font-size: 20px;
  background-color: #5bb7d6;
  border: 0;
  color: white;
}

.RMDB-SearchMovieInput::placeholder{
  color: rgba(255, 255, 255, 0.5);
}

.RMDB-SearchMovieInput:focus{
  outline: 0;
}